{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
        <div class="row px-4 px-lg-5 py-lg-4 align-items-center">                
            <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0">All Watches</h1>                
            </div>
            <div class="col-lg-6 text-lg-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">All Watches</li>
                    </ol>
                </nav>
            </div>
        </div>     
    </section>
</div>
<section class="py-5">
    <div class="container p-0">
        <div class="row">
            <!-- SHOP SIDEBAR-->
            <div class="col-lg-3 order-2 order-lg-1">
                <h5 class="text-uppercase mb-4">Whats Available?</h5>
                <div class="py-2 px-4 bg-dark text-white mb-3"><strong
                        class="small text-uppercase font-weight-bold">Brands</strong></div>
                <ul class="list-unstyled small text-muted pl-lg-4 font-weight-normal">
                    {% for watch in watches %}
                        <li class="mb-2">
                            <a class="reset-anchor" href="{% url 'watch_detail' watch.id %}">{{ watch.brand.friendly_name }} - {{ watch.name }}</a>
                        </li>
                    {% endfor %}
         
                </ul>
                <div class="py-2 px-4 bg-light mb-3"><strong class="small text-uppercase font-weight-bold">Categories</strong></div>
                <ul class="list-unstyled small text-muted pl-lg-4 font-weight-normal">
                    <li class="mb-2"><a class="reset-anchor" href="{% url 'watches' %}?category=men">Men</a></li>
                    <li class="mb-2"><a class="reset-anchor" href="{% url 'watches' %}?category=women">Women</a></li>
                    <li class="mb-2"><a class="reset-anchor" href="{% url 'watches' %}?category=men,women">All</a></li>
                </ul>            
            </div>
            <!-- Search Results-->
            <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row mb-3 align-items-center">
                    <div class="col-lg-6 mb-2 mb-lg-0">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'watches' %}">See All Watches</a></span>
                        {% endif %}
                        <p class="text-small text-muted mb-0">{{ watches|length }} results found.</p>
                    </div>                      
                    <div class="col-lg-6">
                        <ul class="list-inline d-flex align-items-center justify-content-lg-end mb-0">                        
                            <li class="list-inline-item">
                            <!-- SORT BY DROPDOWN -->
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}> Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}> Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}> Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}> Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}> Rating (high to low)</option>
                            </select>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <!-- All Watches -->
                    {% for watch in watches %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="product text-center">
                            <div class="mb-3 position-relative">
                                {% if watch.image %}
                                    {% if watch.label %}
                                        <div class="badge text-white badge-danger">{{ watch.label }}</div>
                                    {% else %}
                                        <div class="badge text-white badge-secondary"></div>
                                    {% endif %}                                
                                <a class="d-block" href="{% url 'watch_detail' watch.id %}">
                                    <img class="img-fluid w-100 h-100" src="{{ watch.image.url }}" alt="{{ watch.name }}">
                                </a>
                                {% else %}
                                    <div class="badge text-white badge-secondary"></div><a class="d-block"
                                        href="{% url 'watch_detail' watch.id %}"><img class="img-fluid w-100 h-100"
                                            src="{{ MEDIA_URL }}noimage.png" alt="{{ watch.name }}"></a>
                                {% endif %}
                                <!-- DISPLAYED ON HOVER  -->
                                <div class="product-overlay">
                                    <ul class="mb-0 list-inline">
                                        {% if request.user.is_superuser %}
                                            <li class="list-inline-item m-0 p-0">
                                                <a class="btn btn-sm btn-outline-dark" href="{% url 'edit_watch' watch.id %}">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                            </li>
                                        {% endif %}                                        
                                            <li class="list-inline-item m-0 p-0">
                                                <a class="btn btn-sm btn-dark" href="{% url 'watch_detail' watch.id %}">More Information</a>
                                            </li>
                                        {% if request.user.is_superuser %}
                                            <li class="list-inline-item mr-0">
                                                <a class="btn btn-sm btn-outline-dark" href="{% url 'delete_watch' watch.id %}">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <!-- END OF DISPLAYED ON HOVER  -->
                            </div>
                            <h6> <a class="reset-anchor" href="{% url 'watch_detail' watch.id %}">{{ watch.name }}</a></h6>
                            <h5 class="text-muted">{{ watch.brand.friendly_name }}</h5>
                            <p class="text-muted my-0">£{{ watch.price }}</p>
                            <p class="small text-muted my-1">Category: 
                                <a class="reset-anchor ml-2" href="{% url 'watches' %}?category={{ watch.category.name }}">{{ watch.category.friendly_name }}</a>
                            </p>
                            <!-- Rating -->
                            <ul class="list-inline mb-2">
                                {% if watch.rating %}
                                    <li class="list-inline-item m-0 text-muted"><i class="fas fa-star small text-warning">
                                        {{ watch.rating }} / 10</i>
                                    </li>
                                {% else %}
                                    <li class="list-inline-item m-0"><i class="fas fa-star small text-danger"> No Rating</i>
                                    </li>
                                {% endif %}
                               
                            </ul>
                            <!--end of Rating  -->
                        </div>
                    </div>
                    {% endfor %}
                    <!-- End of All Watches -->
                </div>             
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('#sort-selector').change(function(){
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset"){
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else{
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}