{% extends "base.html" %}
{% load static %}
{% load shoppingcart_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Payment successful</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="cart.html">Cart</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <!-- BILLING ADDRESS-->
        <div class="row">
            <h2 class="h5 text-uppercase mb-4">Thank You</h2>
        </div>
        <div class="row">
            <p class="text-muted">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            <!-- ORDER SUMMARY-->
            {% for item in shoppingcart_items %}
            <div class="col-lg-4">
                <div class="card border-0 rounded-0 p-lg-4 bg-light">
                    <div class="card-body">
                        <h5 class="text-uppercase mb-4">Order Summary <small class="text-muted">({{ product_count }})</small></h5>
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex align-items-center justify-content-between">
                                <div class="m-1 col-3">
                                    <a href="{% url 'watch_detail' item.watch.id %}">
                                        {% if item.watch.image %}
                                        <img class="w-100" src="{{ item.watch.image.url }}" alt="{{ watch.name }}">
                                        {% else %}
                                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ watch.name }}">
                                        {% endif %}
                                    </a>
                                </div>
                                <strong class="small font-weight-bold">{{ item.watch.name }}</strong>
                                <span class="text-muted small">Qty: {{ item.quantity }}</span>
                            </li>
                            <li class="border-bottom my-2"></li>
                            <li class="d-flex align-items-center justify-content-between">
                                <strong class="text-uppercase small font-weight-bold">Subtotal</strong><span>£{{ item.watch.price | calc_subtotal:item.quantity }}</span>
                            </li>
                            <li class="border-bottom my-2"></li>                           
                            <li class="d-flex align-items-center justify-content-between">
                                <strong class="text-uppercase small font-weight-bold">Delivery</strong><span>£{{ delivery |floatformat:2 }}</span>
                            </li>
                            <li class="border-bottom my-2"></li>                           
                            <li class="d-flex align-items-center justify-content-between">
                                <strong class="text-uppercase small font-weight-bold">Total</strong><span>£{{ grand_total|floatformat:2 }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- END OF ORDER SUMMARY-->
        </div>
    </section>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}