{% extends "base.html" %}
{% load static %}
{% load shoppingcart_tools %}


{% block content %}
<div class="overlay"></div>
<div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Checkout</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="cart.html">Cart</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <!-- BILLING ADDRESS-->
        <h2 class="h5 text-uppercase mb-4">Billing details</h2>
        <div class="row">
            <div class="col-lg-8">
                <!-- CHECKOUT FORM -->
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label class="text-small text-uppercase" for="firstName">Name</label>
                                {{ order_form.name | as_crispy_field }}
                        </div>                       
                        <div class="col-lg-6 form-group">
                            <label class="text-small text-uppercase" for="email">Email address</label>
                                {{ order_form.email | as_crispy_field }}
                        </div>
                        <div class="col-lg-12 form-group">
                            <label class="text-small text-uppercase" for="phone">Phone number</label>
                            {{ order_form.phone_number | as_crispy_field }}
                        </div>
                        <div class="col-lg-12 form-group">
                            <label class="text-small text-uppercase" for="address_line1">Address line 1</label>
                            {{ order_form.address_line1 | as_crispy_field }}
                        </div>
                        <div class="col-lg-12 form-group">
                            <label class="text-small text-uppercase" for="address_line2">Address line 2</label>
                            {{ order_form.address_line2 | as_crispy_field }}
                        </div>   
                        <div class="col-lg-6 form-group">
                            <label class="text-small text-uppercase" for="state_or_county">State/County</label>
                                {{ order_form.state_or_county | as_crispy_field }}
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="text-small text-uppercase" for="town_or_city">Town/City</label>
                            {{ order_form.town_or_city | as_crispy_field }}
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="text-small text-uppercase" for="postcode">Postcode (If applicable)</label>
                                {{ order_form.postcode | as_crispy_field }}
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="text-small text-uppercase" for="country">Country</label>
                            {{ order_form.country | as_crispy_field }}
                        </div>
                        <!-- OPTIONN TO SAVE BILLING INFORMATION TO PROFILE -->
                        <div class="col-lg-12 form-group">
                             <div class="form-check form-check-inline mr-0">
							{% if user.is_authenticated %}
								<label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
								<label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
							{% endif %}
                        </div>
                        <!-- END OF OPTIONN TO SAVE BILLING INFORMATION TO PROFILE -->
                        <fieldset style="margin-top: 5px;">
                            <legend class="fieldset-label small text-black px-2 w-auto">Payment Details:</legend>
                            <!-- A Stripe card element will go here -->
                            <div class="mb-3" id="card-element"></div>
                            <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                        </div>                                
                        
                        <div class="col-lg-12 form-group">
                        <!--BACK TO SHOPPING CART BTN -->
                        <a href="{% url 'shoppingcart' %}">
                            <button type="button" class="btn btn-outline-danger">Back to Shopping Cart</button>
                        </a>  
                        <!-- PLACE ORDER BTN -->
                            <button class="btn btn-dark" type="submit">Place order</button>
                        </div>
                    </div>
                </form>
                <!-- END OF CHECKOUT FORM -->
            </div>
            <!-- ORDER SUMMARY-->
            {% for item in shoppingcart_items %}
            <div class="col-lg-4">
                <div class="card border-0 rounded-0 p-lg-4 bg-light">
                    <div class="card-body">
                        <h5 class="text-uppercase mb-4">Your order <small class="text-muted">({{ product_count }})</small></h5>
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex align-items-center justify-content-between">
                                <div class="m-1 col-3">
                                    <a href="{% url 'watch_detail' item.watch.id %}">
                                        {% if item.watch.image %}
                                        <img class="w-100" src="{{ item.watch.image.url }}" alt="{{ watch.name }}">
                                        {% else %}
                                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ watch.name }}">
                                        {% endif %}
                                    </a>
                                </div>
                                <strong class="small font-weight-bold">{{ item.watch.name }}</strong>
                                <span class="text-muted small">Qty: {{ item.quantity }}</span>
                            </li>
                            <li class="border-bottom my-2"></li>
                            <li class="d-flex align-items-center justify-content-between">
                                <strong class="text-uppercase small font-weight-bold">Subtotal</strong><span>£{{ item.watch.price | calc_subtotal:item.quantity }}</span>
                            </li>
                            <li class="border-bottom my-2"></li>                           
                            <li class="d-flex align-items-center justify-content-between">
                                <strong class="text-uppercase small font-weight-bold">Delivery</strong><span>£{{ delivery |floatformat:2 }}</span>
                            </li>
                            <li class="border-bottom my-2"></li>
                            <li class="d-flex align-items-center justify-content-between">
                                {% if request.user.is_authenticated %}
                                <strong class="text-uppercase small font-weight-bold">Member Discount</strong><span>£{{ discount|floatformat:2 }}</span>
                                {% endif %}
                            </li>
                            <li class="border-bottom my-2"></li>                           
                            <li class="d-flex align-items-center justify-content-between">  
                                <strong class="text-uppercase small font-weight-bold">Total</strong><span>£{{ grand_total|floatformat:2 }}</span>
                              
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- END OF ORDER SUMMARY-->
        </div>
    </section>
</div>
<div class="overlay" id="loading-overlay">
<div class="d-flex justify-content-center text-center pre-loader">
  <div class="spinner-border" role="status"  style="width: 3rem; height: 3rem;">
    <span class="sr-only">Loading...</span>
  </div>
</div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}