{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- HERO SECTION-->
<div class="container-fluid pl-0 pr-0">
    <div class="hero-image">
        <div class="overlay-hero">
            <!-- HERO SECTION-->
            <div class="row px-5 px-lg-5">
                <div class="col-lg-8">
                    <p class="text-uppercase mb-2 hero-title">New Inspiration 2021</p>
                    <h2 class="h2 text-uppercase mb-3">Free delivery on orders over £{{ free_delivery_threshold }}!</h2>
                    <a href="{% url 'watches' %}"><p class="btn btn-outline-primary hero-btn">Browse our collection</p></a>
                </div>
            </div>
        </div>           
    </div>      
</div>
<div class="container-fluid">
    <!-- CATEGORIES SECTION-->
    <section class="pt-5">
        <header class="text-center">
            <p class="small text-muted small text-uppercase mb-1">Carefully created collections</p>
            <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
        </header>

        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
                <a class="category-item hero-btn" href="{% url 'watches' %}?category=men">
                    <img class="img-fluid" src="https://eljefe111944-timekeepers.s3.eu-west-2.amazonaws.com/media/men-watches.jpg" alt="">
                    <p class="category-item-title btn btn-outline-primary hero-btn">For Men</p>
                </a> 
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
                <a class="category-item" href="{% url 'watches' %}?category=women">
                    <img class="img-fluid" src="https://eljefe111944-timekeepers.s3.eu-west-2.amazonaws.com/media/women-watches.jpg" alt="">
                    <p class="category-item-title btn btn-outline-primary category-btn">For Women</p>
                </a>
            </div>
        </div>
    </section>
</div>
<div class="container-fluid">
    <!-- SERVICES-->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-4 mb-3 mb-lg-0">
                    <div class="d-inline-block">
                        <div class="media align-items-end">                    
                            <div class="media-body text-left ml-3">
                                <h6 class="text-uppercase mb-1">Free shipping</h6>
                                <p class="text-small mb-0 text-muted">Free shipping worlwide</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3 mb-lg-0">
                    <div class="d-inline-block">
                        <div class="media align-items-end">                           
                            <div class="media-body text-left ml-3">
                                <h6 class="text-uppercase mb-1">24 x 7 service</h6>
                                <p class="text-small mb-0 text-muted">Free shipping worlwide</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-inline-block">
                        <div class="media align-items-end">                           
                            <div class="media-body text-left ml-3">
                                <h6 class="text-uppercase mb-1">Festival offer</h6>
                                <p class="text-small mb-0 text-muted">Free shipping worlwide</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
</div>

{% endblock %}